// Estilos header
header
     padding: 2%
// Estilos Navbar
.bg-blue
     // estilos navbar
     background-color: $color-primary
     a
          // estilos link del navbar
          color: $white
          font-family: $font-component
          &:hover
               color: $aqua
               font-size: 1.1em

     .navbar-nav
          width: 90%

// Estilos Footer
.footer
     background-color: $color-primary
     padding: 2% 0%
     // estilos del footer
     .menu
          // estilos menu
          li
               // estilos del li del menu
               margin: -1% 0%

     a
          // estilos del a del menu
          color: $white
          font-family: $font-component
          position: relative
          left: 35%
          &:hover
               color: $aqua
     p
          // estilos de los parrafos del footer
          color: $white
          font-family: $font-component
          text-align: center
